<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <section class="my-5 py-5" name="contact" id="scrollspyHeading3">
            <h1 class="display-4 text-center">Contact Us</h1>
            <hr class="mx-auto w-25">
            <form action="/contact" method="post">
                <div class="mb-3 w-50 mx-auto">
                    <label for="exampleFormControlInput1" class="form-label">Email address:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com" name="email">
                </div>
                <div class="mb-3 w-50 mx-auto">
                    <label for="exampleFormControlInput1" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name" name="name">
                </div>

                <div class="mb-3 w-50 mx-auto">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
                </div>
                <!-- <button type="submit" class="btn btn-primary marg-text">Submit</button> -->
                <div class="container mx-auto">
                    <div class="row">
                        <div class="col-3 mx-auto">
                            <button type="submit" class="btn btn-primary" href="#">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    </section>
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>