<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section class="my-5 bg-light py-5" id="scrollspyHeading2">
    <h1 class="display-4 text-center">Services</h1>
    <hr class="mx-auto w-25">
    <div class="container">
      <div class="row my-5">
        <div class="col-lg-4 col-12 mx-auto">
          <div class="card mb-3 " style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="images/moutain.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body bg-primary">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a
                    natural lead-in to
                    additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                      ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mx-auto ">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./images/scene.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body bg-warning">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a
                    natural lead-in to
                    additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                      ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mx-auto">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./images/tree.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body bg-info">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a
                    natural lead-in to
                    additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                      ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>