.carousel-item img{
  border-radius: 10%;
  width: 70%;
  max-height: 90vh;
}

.card img{
  width: fit-content;
  height: 100%;
}

.float {  
  animation-name: ani-float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

@keyframes ani-float {
  0% { transform: translate(0,  0px); }
  50% { transform: translate(0, 15px); }
  100% { transform: translate(0, -0px); }    
}

.nav-pills .nav-link.active {
  background-color: #eb9808;
  border-radius: 20%;
  color: #fff;
}